@font-face {
  font-family: PressStart2P-Regular;
  src: url(/fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(/fonts/Roboto-Regular.ttf);
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(/images/background.png);
  background-size: cover;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20vh 20vw 7vh;
  padding: 1vh 1vw;
  text-align: center;
  border-style: solid;
  border-color: #011442;
  color: #9eff00;
  font-family: PressStart2P-Regular;
  box-shadow: 0 0 20px 10px #9eff00;
  border-radius: 4px;
  background-color: #011442;
}

.intro:hover {
  box-shadow: 0 0 30px 15px #9eff00;
  cursor: default;
}

.intro h1 {
  font-size: 52px;
}

.intro h3 {
  font-size: 16px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 5vh 20vw;
  font-family: PressStart2P-Regular;
  color: #9eff00;
}

.container button {
  background-color: #9eff00;
  color: #011442;
  margin: 1vh auto;
  padding: 2vh 3vw;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  border-style: solid;
  border-color: #9eff00;
  border-radius: 4px;
}

.container button:hover {
  background-color: #011442;
  color: #9eff00;
  cursor: pointer;
}

.container a {
  text-decoration: none;
  color: #9eff00;
  font-family: Roboto-Regular;
}

.boxes {
  flex-grow: 3;
  margin: auto 1vw;
  padding: 2vh 1vw;
  text-align: center;
  box-shadow: 0 0 6px 3px #9eff00;
  border-style: solid;
  border-radius: 4px;
  background-color: #011442;
}

.boxes:hover {
  box-shadow: 0 0 10px 5px #9eff00;
  cursor: default;
}

.boxes td {
  padding: 1vh;
}

.boxes2 {
  flex-grow: 3;
  margin: auto 1vw;
  padding: 2vh 1vw;
  text-align: center;
  box-shadow: 0 0 6px 3px #9eff00;
  border-style: solid;
  border-radius: 4px;
  background-color: #011442;
}

.boxes2:hover {
  box-shadow: 0 0 10px 5px #9eff00;
  cursor: default;
}

#music,
#sports,
#gaming {
  display: none;
}

.container2 {
  display: flex;
  flex-direction: row;
  margin: 5vh 20vw;
  font-family: PressStart2P-Regular;
  color: #9eff00;
}

.container2 button {
  background-color: #9eff00;
  color: #011442;
  margin: 1vh auto;
  padding: 1vh 2vw;
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  border-style: solid;
  border-color: #9eff00;
  border-radius: 4px;
}

.container2 button:hover {
  background-color: #011442;
  color: #9eff00;
  cursor: pointer;
}

.container2 p {
  font-family: Roboto-Regular;
}

.interests li {
  list-style: none;
  margin: 1vh;
  font-size: 0.5em;
}
